@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {

    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {

    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}


/*Общие */

body {
    background-color: #ffffff;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* a {
    text-decoration: none;
    color: black;
}

* li {
    list-style-type: none;

}


/* Шляпа */

.logo {
    position: absolute;
    top: 20px;
}

header {
    margin: 40px auto 0;
    padding-top: 46px;
    padding-bottom: 34px;
    width: 1160px;
    background-color: #FFE17F;
}

.container-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1040px;

}


/* ПОИСК */

.search {
    width: 517px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 160px;
}

.search-input {
    margin: 0;
    padding: 8px 8px 8px 48px;
    background-color: #FFE17F;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-right-width: 0;
    border-radius: 20px 0 0 20px;
    font: 400 16px/20px Rubik;
}

.search-button {
    margin: 0;
    padding: 8px;
    background-color: #FFE17F;
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
    font: 400 16px/20px Rubik;
}

.search-ico {
    position: absolute;
    bottom: 12px;
    left: 16px;
}


/* КАТАЛОГ */

.catalog {
    width: 517px;
    order: 2;
    margin-top: 45px;
    position: relative;
}

.catalog h2 {
    margin: 0;
    padding: 0;
    font: 800 18px/21px Raleway;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.catalog-list {
    position: absolute;
    left: -59px;
    top: 5px;
    background-color: #FFE17F;
    width: 1040px;
    display: none;
    /*---------тут ява меняет none / grid-----------*/
    grid-template-columns: 252px 211px 211px auto;
    grid-template-rows: repeat(3, 36px);
    grid-template-areas: "cat1 cat4 cat6"
        "cat2 cat5 ."
        "cat3 . .";
    align-items: center;
    padding: 20px 60px 48px 60px;
}

.catalog-list .catalog-item:nth-last-child(1) {
    grid-area: cat6;
}

.catalog-list .catalog-item:nth-last-child(2) {
    grid-area: cat5;
}

.catalog-list .catalog-item:nth-last-child(3) {
    grid-area: cat4;
}

.catalog-list .catalog-item:nth-last-child(4) {
    grid-area: cat3;
}

.catalog-list .catalog-item:nth-last-child(5) {
    grid-area: cat2;
}

.catalog-list .catalog-item:nth-last-child(6) {
    grid-area: cat1;
}

.catalog-list .catalog-link {
    font: 400 16px/18px Rubik;
    display: block;
}

.catalog-list .catalog-item {}

.catalog-button-black {
    position: absolute;
    bottom: -14px;
    right: 224px;
    z-index: 2;
}


/* НАВ СЕРВИСА */

.navigation-service {
    width: 471px;
    order: 3;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.navigation-service h2 {
    font: 800 18px/21px Raleway;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
}


/* НАВ ПОЛЬЗОВАТЕЛЯ */

.navigation-user {
    width: 240px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navigation-user a {
    font: 400 18px/30px Rubik;
}

.in-basket {
    position: absolute;
    left: 123px;
    bottom: 4px;
    font: 400 14px/16px Rubik;
    text-align: center;
    background-color: #ffffff;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-link-name {
    display: none;
}

.navigation-link-exit {
    display: none;
}

.basket-ico {
    margin-right: 7px;
}

.comparison-ico {
    margin-right: 8px;
}


/* НАВ ВХОД */

.enter {
    width: 231px;
}

.enter a {
    font: 400 18px/30px Rubik;
}

.enter-ico {
    margin-right: 10px;
}


/* СЛАЙДЕР */

.slider {
    width: 1160px;
    min-height: 560px;
    margin: 0 auto;
    margin-top: -36px;
}

.slider-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: -30px;
}

.slider-pagination-item {
    margin: 0 10px;
    position: relative;
}

.slider-pagination-button {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pagination-button:hover {
    opacity: 0.6;
}

.slider-pagination-button:active {
    opacity: 0.3;
}

.slider-pagination-button:focus::after {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #AF4FFF;
    position: absolute;
    top: 7px;
    left: -4px;
}

.slider-pagination-button-current {
    background-color: #000000;
}

/* СЛАЙД */

.gallery-controls {
position: absolute;
top: 50%;
display: flex;
justify-content: space-between;
}

.slider-wrapper-2,
.slider-wrapper-3 {
    display: none; /* ВКЛ/ВЫКЛ    */
}

.slider-wrapper-1 {
    display: flex;
    justify-content: space-between;
}

.gallery {
    width: 560px;
    z-index: 1;
}
.slide-number {
    font: 700 180px/30px Rubik;
    color: #df7171;
    text-align: right;
    background-color: #c7b26e;
    width: 1160px;
    height: 70px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    /*padding: 0 50px;
    display: none;         -------------------------------       */
}

.slide-title {
    font: 800 50px/50px Raleway;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.slide-description-wrapper {
    width: 560px;
    margin-top: 121px;
}

.slide-description {
    font: 400 18px/30px Rubik;
    margin: 0;
    padding: 0;
    margin-bottom: 67px;
}

.slide-button {
    font: 800 18px/21px Raleway;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 220px;
    height: 8px;
    background-color: #FFE17F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
}

.slide-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;

}

.slide-advantages li {
    font: 400 36px/30px Rubik;
    max-width: 150px;
    margin: 0;
      }

.slide-advantages p {
    font: 400 16px/30px Rubik;
    margin: 0;
    margin-top: 12px;
}
